<div class="sidebar">

    <div class="logo">

        📦 Smart Inventory

    </div>

    <nav>

        <a routerLink="/dashboard" routerLinkActive="active">
            🏠 Dashboard
        </a>

       <a routerLink="/products">
    📦 Products
</a>

        <a routerLink="/movement" routerLinkActive="active">
            📥 Stock Movement
        </a>

        <a routerLink="/history" routerLinkActive="active">
            📜 Movement History
        </a>

        <a routerLink="/reports" routerLinkActive="active">
            📊 Reports
        </a>

    </nav>

    <button (click)="logout()">

        🚪 Logout

    </button>

</div>